<html>
<head>
	<title>Flock Assignment</title>
</head>
<body>
	<section class="section_1">
		<nav class="navBar">
			<div class="logoImage">
				<img src="https://res.cloudinary.com/shubhi/image/upload/v1480270389/logo_oqzp7n.png" alt="logo">
			</div>
			<div class="navBarMenu">
				<a href="#"><div class="navBarMenuItem">Home</div></a>
				<a href="#"><div class="navBarMenuItem">Forwarding</div></a>
			</div>
		</nav>

		<header>
			<h3 class="section_1_heading">Chat for businesses and teams</h3>
			<p class="section_1_sub">Spend less time sifting through email discussions</p>
			<p class="section_1_sub">and more time getting things done</p>
		</header>
		<div class="overlayImage">
			<img src="https://res.cloudinary.com/shubhi/image/upload/v1480270389/backgroundOverlay_c7vlho.png" alt="overlayImage">
		</div>

		<div class="dropdown">
			<div class="button">
				<button class="downloadButton" style="">Download to get started <i class="material-icons">&#xE5C5;</i></button>
			</div>
			<div class="dropdown_content">
				<div class="display_inline dropdown_content_left">
				    <div class="dropdown_header" style="padding: 8px;">DESKTOP</div>
				    <a href="#" class="drop_links"><div>
				    	<img src="https://res.cloudinary.com/shubhi/image/upload/v1480270390/windowIcon_xhcasf.png" alt="WindowsIcon">
				    	<span class="dropdown_list v_align">Windows</span>
				    </div></a>
				    <a href="#" class="drop_links"><div>
				    	<img src="https://res.cloudinary.com/shubhi/image/upload/v1480270388/appleIcon_ji8u6i.png" alt="MacIcon">
				    	<span class="dropdown_list v_align">Mac</span>
				    </div></a>
				    <a href="#" class="drop_links"><div>
				    	<img src="https://res.cloudinary.com/shubhi/image/upload/v1480270388/chromeIcon_arl2nx.png" alt="ChromeIcon">
				    	<span class="dropdown_list v_align">Chrome</span>
				    </div></a>
				</div>

				<div class="display_inline divider">
					
				</div>

				<div class="display_inline dropdown_content_right">
				   <div class="dropdown_header" style="padding: 8px;">MOBILE</div>
				   <a href="#" class="drop_links">
				   		<div>
					    	<img src="https://res.cloudinary.com/shubhi/image/upload/v1480270390/playIcon_pimynz.png" alt="PlayIcon">
					   		<span class="dropdown_list v_align">Android</span>
					    </div>
				   </a>
				   <a href="#" class="drop_links"><div>
				    <img src="https://res.cloudinary.com/shubhi/image/upload/v1480270389/phoneIcon_u3belp.png" alt="IosIcon">
				   	<span class="dropdown_list v_align">iPhone</span>
				   </div></a>
				</div>

			</div>
		</div>

	</section>


	<section class="section_2">
	  	<div class="section_2_col">
	    	<div class="section_2_img">
	        	<img src="https://res.cloudinary.com/shubhi/image/upload/v1480270389/chatIcon_uiunjt.png" alt="ChatIcon">
		      	<div class="desc">
		        	<h3 class="section_2_heading" >Group &amp; 1-on-1 chat</h3>
		        	<p class="section_2_sub">Discuss ideas, share files and get feedback from your team with none of the back-and-forth of email. And when you need to have a side conversation, simply start a 1-on-1 chat with your colleague.</p>
		      	</div>
	    	</div>
	  	</div>


	  	<div class="section_2_col">
		    <div class="section_2_img">
		        <img src="https://res.cloudinary.com/shubhi/image/upload/v1480270390/syncIcon_kjdkcg.png" alt="SyncIcon">
		      	<div class="desc">
		        	<h3 class="section_2_heading">Synced across all your devices</h3>
		       		<p class="section_2_sub">Take your chats with you. With apps for the desktop (Windows, Mac), the Web &amp; mobiles (iPhone, Android &amp; Windows phone), you can switch devices &amp; pick up right where you left off.</p>
		      	</div>
		    </div>
	  	</div>

		<div class="section_2_col">
		    <div class="section_2_img">
		        <img src="https://res.cloudinary.com/shubhi/image/upload/v1480270389/settingIcon_zd1vmn.png" alt="SettingsIcon">
		      	<div class="desc">
		        	<h3 class="section_2_heading">Complete chat history</h3>
		        	<p class="section_2_sub">Our powerful history search ensures that you'll never forget another conversation again. Search acoss chats, files and contacts.</p>
		      	</div>
		    </div>
		</div>

		<div class="clearfix"></div>
	</section>

	<section class="section_3">
		<header>
			<div>
				<div class="quote_symbol display_inline" style="line-height: 3;vertical-align: top">&ldquo;</div>
				<div class="display_inline" style="width:85%">
					<div class="section_3_5_heading" style="padding-bottom: 12px;">Our pilot customers love us!</div>
					<div class="quote" >Group chat makes quick discussions really easy. Within just 2 weeks, we moved most of our discussions over to Go.to &ndash; yes, it's that good! </div>
				</div>
				<div class="quote_symbol display_inline" style="vertical-align: text-top">&rdquo;</div>
			</div>
				
		</header>
	</section>

	<section class="section_4" >
		<div class="center_align">
			<!-- <div class="display_inline">
				<img src='https://res.cloudinary.com/shubhi/image/upload/v1480270390/userLogo_vtemmz.png' class='userLogo' alt="UserLogo">
			</div>	 -->
			<!-- <div class="display_inline v_align">
				<div class="section_4_heading">Adam Brickner</div>
				<span class="section_4_sub">Account Manager,<span style="color:#146DB9;"> Media.net</span></span>
			</div> -->
		</div>
	</section>

	<section class="section_5">
		<header>
			<h3 class="section_3_5_heading">Run on just About Everything</h3>
		</header>
		<span class="section_5_icon display_inline">
			<img src="https://res.cloudinary.com/shubhi/image/upload/v1480270388/appleLogo_jws6va.png" alt="AppleLogo">  
			<figcaption >Mac</figcaption>
		</span>
		<span class="section_5_icon display_inline">
			<img src="https://res.cloudinary.com/shubhi/image/upload/v1480270390/windowsLogo_nsv69g.png" alt="WindowsLogo">
			<figcaption>Windows</figcaption>
		</span>
		<span class="section_5_icon display_inline">
			<img src="https://res.cloudinary.com/shubhi/image/upload/v1480270388/linuxLogo_iqumbc.png" alt="LinuxLogo">
			<figcaption>Linux</figcaption>
		</span>
		<span class="section_5_icon display_inline"> 
			<img src="https://res.cloudinary.com/shubhi/image/upload/v1480270388/androidLogo_tdsm3q.png" alt="AndroidLogo">
			<figcaption>Android</figcaption>
		</span>
		<span class="section_5_icon display_inline">
			<img src="https://res.cloudinary.com/shubhi/image/upload/v1480270389/iphoneLogo_lkcpn7.png" alt="IphoneLogo">
			<figcaption>iOS</figcaption>
		</span>
	</section>
	<div class="clearfix"></div>

	<footer class="footer">
		<div class="footerNavTab">
			<a href="#"><div class="footerNavTabItem">Home</div></a>
			<div class="footerNavTabItem">|</div>
			<a href="#"><div class="footerNavTabItem">Forwarding</div></a>
		</div>

		<div class="footerText">
			<p>Copyrights 2013, go.to. All rights reserved</p>
		</div>
	</footer>
</body>
</html>